    @media (max-width: 530px) {
      .row{
        font-size: 1rem;
      }
    }
    @media (min-width: 531px) {
      .row{
        font-size: 1.2rem;
      }
    }
    @media (min-width: 768px) {
      .row{
        font-size: 1.6rem;
      }
    }
    @media (min-width: 992px) {
      .row{
        font-size: 2rem;
      }
    }  